section.block_2
  a.block_2__anchor(name="about")
    img.block_2__img.lazyload(
      data-src="img/block_2/hotdog.svg", 
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNDAwcHgiIGhlaWdodD0iNDAwcHgiIHZlcnNpb249IjEuMSI+CiAgICA8cmVjdCB3aWR0aD0iOTIiIGhlaWdodD0iOTIiIHg9IjQiIHk9IjAiIGZpbGw9IiNmYmZhZmEiLz4KPC9zdmc+Cg=="
      alt="hotdog"    
    )
    h1.block_2__headline Dirty Dogs serves all-beef, vegan and vegatagian hot dogs.
    .block_2__btn-wrapper
        button(type="button").block_2__btn More Dogs ‘n Make Em Hot