footer.footer__block
  a.footer__anchor(name="contact")
    .copyright
      | ® 2016 Dirty Dogs all rights reserved
    address.address__block
      .address__item 274 Marconi Blvd. Columbus, Ohio 43215 
      .address__item 614.538.0095 
      .address__item Contact Us