a(name="menu")
header.header__block
  input(type="checkbox", id="menu__checkbox").menu__checkbox
  label.menu__label(for="menu__checkbox")
    .header__icon-wrapper
      .header__icon
    .menu__wrapper
      nav.menu__list
        a(href="#menu").menu__item Menu
        a(href="#catering").menu__item Catering
        a(href="#about").menu__item About us
        a(href="#contact").menu__item Contact